{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<head>
    <meta charset="utf-8">
    <script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
</head>

<script>
    function alerta() {
        alert('Contestação enviada para avaliação de cadastro de sistema!');
        window.location.reload();
    };


</script>
<main class="c-main">

    <div class="card">
        <div class="card-header"><h4>Contestar Paper</h4></div>
        <div class="card-body">


            <div class="row">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header"><strong>Contestar Item do Paper</strong></div>
                        <div class="card-body">
                            <form class="form-horizontal"
                                  action="salvarcontestacao/{{ itens.id}}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Id Paper</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id = "idpaper" name="idpaper">
                                            <option>{{itens.paper.id}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Peso</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="peso" name="peso">
                                            <option>{{itens.peso}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Id Paper Item</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="idpaperItem">
                                            <option>{{itens.paperItem.id}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Observação</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="obs" name="obs">
                                            <option>{{itens.obs}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Digite o que será contestado do item.</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="contestacao" name="contestacao"
                                                  rows="9">{{itens.contestacao}}</textarea>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <button class="btn btn-sm btn-primary" type="submit" onclick="alerta()"> Salvar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    ClassicEditor
        .create(document.querySelector('#nome'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>

<script>
    ClassicEditor
        .create(document.querySelector('#contestacao'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/charts.js"></script>

{% endblock javascripts %}
