{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<main class="c-main">

    <div class="card">
        <div class="card-header">Aviso do Paper</div>
        <div class="card-body">
            <div class="container" align="center">
                <h1>Este acesso requer elevação de usuário!</h1>
                <a class="btn btn-lg btn-primary" href="/listpaperuser" role="button">Listar os papers de
                    {{request.user.username}} &raquo;</a>
                <a class="btn btn-lg btn-secondary" href="/" role="button">Ir para a página inicial &raquo;</a>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/charts.js"></script>

{% endblock javascripts %}
